In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv('./2020년도_1~8호선_지하철데이터_시간대별.csv', encoding='cp949')
df.head()

   Unnamed: 0          날짜   호선  역번호    역명  구분  00-11  11-17  17-24
0           0  2020-01-01  1호선  150   서울역  하차   6407  13727   9951
1           1  2020-01-01  1호선  151    시청  하차   2431   5376   2801
2           2  2020-01-01  1호선  152    종각  하차   2949   8958   4494
3           3  2020-01-01  1호선  153  종로3가  하차   2299  10033   3028
4           4  2020-01-01  1호선  154  종로5가  하차   1554   7729   2714

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101140 entries, 0 to 101139
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  101140 non-null  int64
 1   날짜          101140 non-null  object
 2   호선          101140 non-null  object
 3   역번호         101140 non-null  int64
 4   역명          101140 non-null  object
 5   구분          101140 non-null  object
 6   00-11       101140 non-null  int64
 7   11-17       101140 non-null  int64
 8   17-24       101140 non-null  int64
dtypes: int64(5), object(4)
memory usage: 6.9+ MB

In [4]:
df['날짜'] = df['날짜'].astype('str')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101140 entries, 0 to 101139
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  101140 non-null  int64
 1   날짜          101140 non-null  object
 2   호선          101140 non-null  object
 3   역번호         101140 non-null  int64
 4   역명          101140 non-null  object
 5   구분          101140 non-null  object
 6   00-11       101140 non-null  int64
 7   11-17       101140 non-null  int64
 8   17-24       101140 non-null  int64
dtypes: int64(5), object(4)
memory usage: 6.9+ MB

In [6]:
df['날짜'] = pd.to_datetime(df['날짜'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101140 entries, 0 to 101139
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  101140 non-null  int64
 1   날짜          101140 non-null  datetime64[ns]
 2   호선          101140 non-null  object
 3   역번호         101140 non-null  int64
 4   역명          101140 non-null  object
 5   구분          101140 non-null  object
 6   00-11       101140 non-null  int64
 7   11-17       101140 non-null  int64
 8   17-24       101140 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 6.9+ MB

In [7]:
df['년'] = df['날짜'].dt.year
df['월'] = df['날짜'].dt.month
df['일'] = df['날짜'].dt.day
df['분기'] = df['날짜'].dt.quarter
df['요일'] = df['날짜'].dt.weekday

In [8]:
# 0~6번 인덱스 위치에 각 한글 요일 이름이 담긴 리스트
weekday_list = ['월', '화', '수', '목', '금', '토', '일']

# apply 함수로 숫자 -> 요일 이름으로 변환
df['요일'] = df.apply(lambda x : weekday_list[x['요일']], axis = 1)

In [9]:
df.head()

,Unnamed: 0,날짜,호선,역번호,역명,구분,00-11,11-17,17-24,년,월,일,분기,요일
0,0,2020-01-01,1호선,150,서울역,하차,6407,13727,9951,2020,1,1,1,수
1,1,2020-01-01,1호선,151,시청,하차,2431,5376,2801,2020,1,1,1,수
2,2,2020-01-01,1호선,152,종각,하차,2949,8958,4494,2020,1,1,1,수
3,3,2020-01-01,1호선,153,종로3가,하차,2299,10033,3028,2020,1,1,1,수
4,4,2020-01-01,1호선,154,종로5가,하차,1554,7729,2714,2020,1,1,1,수

In [10]:
df.to_csv('./2020_지하철역하차인원_연도_월_일_분기_요일별.csv', encoding='cp949', index=False)